@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: rgba(131, 199, 200, 0.9);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading{
    font-size: 60px;
    letter-spacing: 2px;
    color: #000;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
}
.calculator{
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background: rgba(52, 52, 167, 0.459);
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
    position: relative;
}
input{
    width: 340px;
    border: none;
    background: transparent;
    padding: 16px;
    margin: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #000;
    outline: none;
}
input::placeholder{
    color: #000;
}
button{
    border: none;
    width: 67px;
    height: 55px;
    margin: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    background-color: rgba(5, 141, 245, 0.642);
    color: #000;
    font-size: 20px;
    cursor: pointer;
}
.equalBtn{
    background-color: rgba(252, 114, 2, 0.719);
}
.operator{
    background-color: rgba(6, 189, 231, 0.943);
}
button:hover{
    scale: 1.03;
    color: #0000004a;
}
.history{
    width: 400px;
    height: 55px;
    border-radius: 10px;
    position: absolute;
    top: 103%;
    left: -2%;
}
.dltbtn{
    margin-top: 20px;
    width: 85%;
    height: 55px;
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
}
.music{
    position: absolute;
    top: 5%;
    left: 110%;
    border-radius: 50%;
    margin-right: 20px;
}
.crossbtn{
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 50%;
}
.allhistory{
    font-size: 40px;
    font-weight: 500;
    padding: 60px 5px 70px 10px;
}
.delete-history{
    min-height: 500px;
    width: 400px;
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background: rgba(96, 96, 225, 0.393);
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
    position: absolute;
    top: 100px;
    display: none;
    word-break: break-all;
}

@media screen and (max-width:680px) {
    .music{
        left: 65vw;
    }
}
@media screen and (max-width:620px) and (min-width:420px) {
    .heading{
        font-size: 50px;
        letter-spacing: 0px;
        text-align: left;
    }
    .music{
        left: 80%;
        top: -18%;
    }
    .delete-history{
        width: 350px;
    }
}
@media screen and (max-width:420px) {
    .music{
        left: 85%;
        top: -18%;
    }
    .heading{
        font-size: 40px;
        letter-spacing: 0px;
        text-align: left;
    }
    input{
        width: 230px;
        padding: 10px;
        font-size: 30px;
    }
    button{
        width: 40px;
        height: 45px;
        font-size: 12px;
    }
    .history{
        width: 290px;
    }
    .dltbtn{
        width: 80%;
    }
    .delete-history{
        width: 70vw;
    }
}